@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Cloud Media Gallery</h1>
    <p class="lead">Завантажуйте, переглядайте та організовуйте свої зображення та відео в Azure Blob Storage.</p>
    <p><a class="btn btn-primary" asp-controller="Media" asp-action="Index">Перейти до галереї</a></p>
</div>
